@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 17% 93%;
    --foreground: 200 65% 10%;
    --card: 0 0% 100%;
    --card-foreground: 200 65% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 65% 10%;
    --primary: 196 46% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 17% 93%;
    --secondary-foreground: 200 65% 10%;
    --muted: 204 10% 84%;
    --muted-foreground: 200 65% 10%;
    --accent: 202 24% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 10% 84%;
    --input: 204 10% 84%;
    --ring: 196 46% 19%;
    --radius: 0.5rem;
    --chart-1: 196 46% 19%;
    --chart-2: 202 24% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --background: 197 51% 10%;
    --foreground: 206 17% 93%;
    --card: 196 46% 13%;
    --card-foreground: 206 17% 93%;
    --popover: 197 51% 10%;
    --popover-foreground: 206 17% 93%;
    --primary: 202 24% 47%;
    --primary-foreground: 197 51% 10%;
    --secondary: 196 46% 19%;
    --secondary-foreground: 206 17% 93%;
    --muted: 196 46% 19%;
    --muted-foreground: 204 10% 84%;
    --accent: 199 35% 25%;
    --accent-foreground: 206 17% 93%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 196 46% 19%;
    --input: 196 46% 19%;
    --ring: 202 24% 47%;
    --chart-1: 202 24% 47%;
    --chart-2: 196 46% 19%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
